@model List<SistemaParqueo.MVC.Models.DashboardItemViewModel>
@{
    var m = (SistemaParqueo.MVC.Models.DashboardMetricasViewModel)ViewBag.Metricas;
}

<h2 class="mb-4">Panel de Control</h2>

<div class="row mb-4">

    <div class="col-md-3">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Vehículos Activos</h5>
                <h2>@m.Activos</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h5>Ingresos Hoy</h5>
                <h2>@m.IngresosHoy</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-warning text-white">
            <div class="card-body">
                <h5>Salidas Hoy</h5>
                <h2>@m.SalidasHoy</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h5>Recaudado Hoy</h5>
                <h2>$ @m.RecaudadoHoy</h2>
            </div>
        </div>
    </div>

</div>

<h3>Últimos movimientos</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Placa</th>
            <th>Tarifa</th>
            <th>Ingreso</th>
            <th>Salida</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Placa</td>
                <td>@item.TipoTarifa</td>
                <td>@item.FechaIngreso.ToLocalTime()
                <td>@(item.FechaSalida == null ? "--" : item.FechaSalida)</td>
                <td>$ @item.Monto</td>
            </tr>
        }
    </tbody>
</table>